<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SewingManagment</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SewingManagment.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>

    @* 主要內容區塊 *@
    <div class="container">
        <main role="main" class="pb-3">
            <h2 class="text-start fw-bold p-2 fs-3 mb-4">@ViewData["Title"]</h2>

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @await Html.PartialAsync("_Footer")
    </footer>
    @* 全域（global）的 JavaScript 都會在 _Layout.cshtml 中引入 *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/advanced-search.js" asp-append-version="true"></script>
    @* 在版型的這裡，預留一個插槽叫做 Scripts，可置入每個頁面個別的 JavaScript *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
