@using SewingManagment.UI
@model (IEnumerable<dynamic> Items, TableConfig Config)

<table class="table">
    <thead>
        <tr>
            <th>操作</th>
            @foreach (var col in Model.Config.Columns)
            {
                <th>@(Model.Config.Headers.ContainsKey(col) ? Model.Config.Headers[col] : col)</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            var rowClass = Model.Config.RowClassFunc?.Invoke(item) ?? "";
            <tr class="@rowClass">
                <td>@Model.Config.ActionsFunc?.Invoke(item)</td>
                @foreach (var col in Model.Config.Columns)
                {
                    <td>@Model.Config.FormatFunc?.Invoke(item, col)</td>
                }
            </tr>
        }
    </tbody>
</table>
